/* ========================================
   THEME TOGGLE SWITCH
   ======================================== */

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-muted);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 3px;
  bottom: 3px;
  background-color: var(--background-primary);
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--background-primary);
}

input:checked+.slider:before {
  transform: translateX(10px);
  background-color: var(--background-color-default);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
