/* ========================================
   TYPOGRAPHY - Headings, Text & Font Styles
   ======================================== */

h1 {
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 120%;
}

h3 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 120%;
}

h4 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 120%;
}

h5 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 120%;
}

h6 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 140%;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

p.meta {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 120%;
}

p.medium {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.button-text {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 400;
}
